*{
    padding: 0;
    Margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 19.5vw 16vw 2fr 17vw;
    grid-template-rows: 10vh 104.5vh 20vh 35vh 35vh 35vh 35vh 64vh;
    grid-template-areas: 
    "nav nav nav nav"
    "feature-pic feature-pic feature-pic feature-pic"
    ". drop-down drop-down ."
    ". img1 show1 ."
    ". img2 show2 ."
    ". img3 show3 ."
    ". img4 show4 ."
    "footer footer footer footer";
}

.area-border {
    border: 2px solid black;
}

.nav {
    grid-area: nav;
    background-color: black;
    color: white;
    position: relative;
}

.nav span {
    position: absolute;
    bottom: 0;
    left: 7%;
}


.title {
    display: inline;
    position: absolute;
    bottom: 0;
    left: 7%
}

#title {
    white-space: nowrap;
}

.nav-links {
    display: inline-flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 24%;
    width: 37%;
}



.nav-links > a {
    color:white;
    text-decoration: none;
}

.feature-pic {
    grid-area: feature-pic;
    position: relative;
}

#feat-pic {
    max-height: 100%;
}

.feature-text {
    color: white;
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Center {
    font-size: 180px;
    white-space: nowrap;
}

.drop-down {
    grid-area: drop-down;
    position: relative;
}

.drop-down > p {
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(174, 174, 174);
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 95%;
    padding-left: 60px;
    font-size: 35px;
}

.img1 {
    grid-area: img1;
    border-bottom: 1px solid grey;
}

#img1 {
    padding: 40px 0 0 20px;
}

.show1 {
    grid-area: show1;
    border-bottom: 1px solid grey;
    position: relative;
}

.show1a {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
    padding-bottom: 40px;
    padding-top: 20px;
    height: 80%;
}

.button {
    background-color: rgb(234,182,37);
    color: white;
    position: absolute;
    right: 0;
    top: 35%;
    width: 190px;
    height: 80px;
    font-size: 30px;
    border: 1px solid grey;
}

.img2 {
    grid-area: img2;
    border-bottom: 1px solid grey;
}

.show2 {
    grid-area: show2;
    border-bottom: 1px solid grey;
    position: relative;
}

.img3 {
    grid-area: img3;
    border-bottom: 1px solid grey;
}

.show3 {
    grid-area: show3;
    border-bottom: 1px solid grey;
    position: relative;
}

.img4 {
    grid-area: img4;
    border-bottom: 1px solid grey;
}

.show4 {
    grid-area: show4;
    border-bottom: 1px solid grey;
    position: relative;
}

.footer {
    grid-area: footer;
    background-color: black;
    color: white;
}

.footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "map info shows social";
    height: 100%;
}

.map {
    grid-area: map;
}

.img-container {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 120px;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 0 160px;
}

.shows {
    grid-area: shows;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 0;
}

.social {
    grid-area: social;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}
